*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.sp{
    color: red;
}
.red{
    color:red;
}
.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }